@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --color-primary-bg-light: #C5BAFF;
  --color-secondary-bg-light: #E8F9FF;
  --color-primary-text-light: #45474B;
  --color-secondary-text-light: #9AA6B2;

  --color-primary-bg-dark: #2E073F;
  --color-secondary-bg-dark: #7A1CAC;
  --color-primary-text-dark: #F8FAFC;
  --color-secondary-text-dark: #BCCCDC;
}

body {
  margin: 0;
  padding: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  transition: all 0.3s ease-in-out;
}